#projectItem {
  float: left;
  margin: 10px;
  width: 410px;
  height: 240px;
}

.box-shadow {
  box-shadow: 0 .5rem .75rem rgba(0, 0, 0, .05);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: rgba(27, 110, 194, 0.1);
}

.margin {
  margin: 10px;
}
