header {
  background-color: #1b6ec2;
  border-color: #1861ac;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
}

.nav-item {
    margin-left: 4px;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #ffffff;
  transition: 0.4s
}

.nav-item:hover::after {
  width: 100%
}

.language {
    padding-right: 20px;
}


