 <div>
      <form (ngSubmit)="addProject()" [formGroup]="projectForm">
        <div class="form-group">
          <label class="col-form-label" for="name">{{'form.name' | translate}}</label>
          <div>
            <input type="text" class="form-control" id="name" formControlName="name"
                   placeholder="{{'form.enter-name' | translate}}"
                  maxlength="128" (focus)="checkNameErrors(1000)" (keyup)="checkNameErrors()"
                   [ngClass]="{'is-invalid': isInvalidName }" />
            <span class="invalid-feedback">
              <span *ngIf="errorNameRequired">
                {{'validation.required.name' | translate}}
              </span>
              <span *ngIf="errorNameMinLength">
                {{'validation.min-length.name' | translate}} {{'validation.min-length.characters' | translate}}
              </span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="budget">{{'form.budget' | translate}}</label>
          <div>
            <input type="number" class="form-control" id="budget" formControlName="budget"
                   placeholder="{{'form.enter-budget' | translate}}"
                  min="0" (focus)="checkBudgetErrors(1000)" (keyup)="checkBudgetErrors()"
                   [ngClass]="{'is-invalid': isInvalidBudget }" />
            <span class="invalid-feedback">
              <span *ngIf="errorBudgetRequired">
                {{'validation.required.budget' | translate}}
              </span>
              <span *ngIf="errorBudgetMin">
                {{'validation.budget-min' | translate}}
              </span>
              <span *ngIf="errorBudgetMax">
                {{'validation.budget-max' | translate}}
              </span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="description">{{'form.description' | translate}}</label>
          <div>
            <textarea class="form-control" id="description" rows="3" formControlName="description"
                      placeholder="{{'form.enter-description' | translate}}"
                     maxlength="512"></textarea>
          </div>
        </div>
        <hr />
        <div class="form-group">
          <div>
            <button type="submit" class="btn btn-primary mr-3 col-md-3" data-bs-toggle="modal" data-bs-target="#addProjectModal"
                    [disabled]="projectForm.invalid">
              <fa-icon [icon]="faPlus"></fa-icon> {{'button.add' | translate}}</button>
            <button type="reset" (click)="resetValidation()" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addProjectModal">
            <fa-icon [icon]="faBan"></fa-icon>
            {{'button.cancel' | translate}}</button>
          </div>
        </div>
      </form>
    </div>


